$primaryColor: #4527a4;

.wp-block-psb-product-spot {
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}

	.productSpotWrapper {
		display: flex;

		.productSpot{
			min-width: 250px;

			.simple {
				position: relative;

				.image {
					width: 100%;
					height: auto;
					border-radius: 8px;
					display: block;
				  }

				.hotspot {
					position: absolute;
					width: 24px;
					height: 24px;
					background-color: #0f34da;
					border: 2px solid #fff;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					transform: translate(-12px, -12px);
					z-index: 10;
					transition: box-shadow 0.3s ease;
					left: 0; 
					top: 0;  

					&.hotspot-pulse {
						box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2);
					}

					.icon {
						width: 12px;
						height: 12px;
						color: #fff;
					}

					.delete-icon {
						display: none;
						position: absolute;
						top: -12px;
						right: -12px;
						background: red;
						color: white;
						border-radius: 50%;
						padding: 0px 5px;
						font-size: 10px;
						cursor: pointer;
					  }

					&:hover {
						.delete-icon {
							display: block;
						}
					}
				}
			  
				.info {
				  margin-top: 15px;
				  background-color: #fff;
				  padding: 15px;
				  border-radius: 8px;
				  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
				  z-index: 5;
				  animation: fade-in 0.3s ease-in-out;
			  
				  .title {
					font-size: 13px;
					font-weight: 700;
					color: #111827;
					font-family: "Inter", sans-serif;
					margin: 0;
				  }
			  
				  .desc {
					font-size: 12px;
					color: #374151;
					font-family: "Inter", sans-serif;
					line-height: 0;
				  }
				}
			  
				@keyframes fade-in {
				  from {
					opacity: 0;
					transform: translateY(6px);
				  }
				  to {
					opacity: 1;
					transform: translateY(0);
				  }
				}
			 }
		}  
	}
}